
.wow p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 70px;
  }
  .carousel-wrap {
    margin-right: 10px;
  }

  .center {
      height: 312px !important;
      margin-left: auto;
      margin-right: auto;
  }
  .tac {
    text-align: center;
  }
  .terminator {
    height: 64px;
  }

  .menuzord-brand {
    margin: 8px 10px 0 0;
}

.menuzord-brand img {
  max-height: 64px;
}

.carousel-control:focus, .carousel-control:hover {
  color: #FFBD1F;
}
.carousel-control.left,
.carousel-control.right {
  background-image: inherit;
}

/* dropdown menu fix */
.menuzord-menu ul.dropdown {
  top: 64px;
}

.menuzord-menu-clearfix {
  float: initial;
}

.menuzord-menu > li {
  /* padding: 0px !important; */
}

.m-section {
  margin: 42px 0;
}
.advantage-section i {
  font-size: 64px;
}

.item-details {
  border-bottom: 3px solid #FFBD1F;
}