
  {% assign i18n = site.data["home"] %}
  {% assign i18n_dict = site.data["dictionary"] %}

<footer id="footer" class="footer"  data-bg-color="#001018" style="background-color: rgb(0, 16, 24) !important;">
  <div class="container pt-70 pb-40">
    <div class="row border-bottom-black">
      <div class="col-sm-6 col-md-6">
        <div class="widget dark">
          {% for item in i18n.locations %}
            <p>{{item.addr}}</p>
            <p>{{item.tel}}</p>
            <p>{{item.descr}}</p>
          {% endfor %}
          <ul class="list-inline mt-5">
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a class="text-gray" href="#">{{site.email}}</a> </li>
          </ul>
          
          <ul class="social-icons icon-bordered icon-circled icon-sm mt-15">
            <li><a href="#" data-toggle="modal" data-target="#whatsappModal"><i class="fa fa-whatsapp text-white"></i></a></li>
            <li><a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-wechat text-white"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h5 class="widget-title line-bottom">{{ i18n_dict.quick_contact }}</h5>
          <form id="footer_quick_contact_form" name="footer_quick_contact_form" class="quick-contact-form" action="/quickcontact.php" method="post" novalidate="novalidate">
            <div class="form-group">
              <input id="form_email" name="form_email" class="form-control" type="text" required="" placeholder="{{ i18n_dict.enter_email }}" aria-required="true">
            </div>
            <div class="form-group">
              <textarea id="form_message" name="form_message" class="form-control" required="" placeholder="{{ i18n_dict.enter_message }}" rows="3" aria-required="true"></textarea>
            </div>
            <div class="form-group">
              <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
              <button type="submit" class="btn btn-default btn-transparent btn-xs btn-flat mt-0" data-loading-text="{{ i18n_dict.please_wait }}">{{ i18n_dict.send_message }}</button>
            </div>
          </form>

          <!-- Quick Contact Form Validation-->
          <script type="text/javascript">
            $("#footer_quick_contact_form").validate({
              submitHandler: function(form) {
                var form_btn = $(form).find('button[type="submit"]');
                var form_result_div = '#form-result';
                $(form_result_div).remove();
                form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                var form_btn_old_msg = form_btn.html();
                form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                $(form).ajaxSubmit();
                setTimeout(function () {
                  $(form).find('.form-control').val('');
                  form_btn.prop('disabled', false).html(form_btn_old_msg);
                  $(form_result_div).html(data.message).fadeIn('slow');
                  setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                }, 2000)
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom" data-bg-color="#001111" style="background: rgb(0, 17, 17) !important;">
    <div class="container pt-15 pb-10">
      <div class="row">
        <div class="col-md-12">
          <p class="font-12 text-gray m-0 text-center">Copyright ©2019 <span class="text-theme-colored">International Technology Key</span>. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="/js/custom.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
      (Load Extensions only on Local File Systems !
       The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
