{% assign i18n = site.data["menu"] %}



<header id="header" class="header">

  <!-- Modal -->
  <div class="modal fade" id="whatsappModal" tabindex="-1" role="dialog" aria-labelledby="whatsappModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="whatsappModalLabel">Whatsappp QR code</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="/images/spec/whatsapp.png" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Wichat QR code</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="/images/spec/wechat.png" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    
  <div class="header-top bg-black-333 sm-text-center border-top-theme-color-3px p-0">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="widget no-border m-0">
            <ul class="list-inline xs-text-center text-white mt-5">
              <!-- <li class="m-0 pl-10 pr-10"> <a href="#" class="text-white"><i class="fa fa-phone text-theme-colored"></i>
                {{i18n.phone}}
              </a> </li> -->
              <li class="m-0 pl-10 pr-10">
                <a href="#" class="text-white"><i class="fa fa-envelope-o text-theme-colored"></i>
                  {{site.email}}
                  </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 pr-0">
          <div class="widget no-border m-0">
            <ul class="styled-icons icon-dark icon-flat icon-sm pull-right flip sm-pull-none sm-text-center mt-sm-15">
              <li><a href="#" data-toggle="modal" data-target="#whatsappModal"><i class="fa fa-whatsapp text-white"></i></a></li>
              <li><a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-wechat text-white"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <a class="btn btn-colored btn-flat btn-theme-colored bs-modal-ajax-load pb-10" href="#footer">Feedback</a>
        </div>
      </div>
    </div>
  </div>


  <div class="header-nav">
    <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
      <div class="container">
        <div class="row">
          <nav class="menuzord-right menuzord default">
            <a class="menuzord-brand pull-left flip xs-pull-center" href="/">
              <img src="/images/spec/logo.png" alt="">
            </a>

            <ul class="menuzord-menu menuzord-menu-clearfix">


              <li>
                <a href="{{i18n.about[1]}}">
                  {{i18n.about[0]}}
                </a>
              </li>

              <li>
                <a href="{{i18n.products[1]}}">
                  {{i18n.products[0]}} </a>
                <ul class="dropdown ">
                  <!-- <ul class="menuzord-menu " id="one"> -->

                  {% for item in i18n.items %}
                  <li><a href="{{item.href}}">{{item.title}}</a>
                    {% assign i18n_submenu = site.data[item.category].categories %}
                    {% if i18n_submenu != null %}

                    <ul class="dropdown">
                      {% for sub_item in i18n_submenu %}
                      <li><a href="{{item.href}}#nid-{{forloop.index}}">{{sub_item.title}} {{sub_item.subtitle}}</a></li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </li>

              <!-- <li>
                <a href="{{i18n.advantages[1]}}">
                  {{i18n.advantages[0]}}
                </a>
              </li> -->

              <li>
                <a href="{{i18n.sales-network[1]}}">
                  {{i18n.sales-network[0]}}
                </a>
              </li>

              <li>
                <a href="{{i18n.industries[1]}}">
                  {{i18n.industries[0]}}
                </a>
              </li>


              <li>
                <a href="{{i18n.contacts[1]}}">
                  {{i18n.contacts[0]}}
                </a>
              </li>
              {% assign lang = site.active_lang %}
              <li class="pull-right">
                <a href="#"> <span class="flag-icon {{site.lang_info[lang].flag}}"></span>
                  {{site.lang_info[lang].name}}</a>
                <ul class="dropdown">
                  {% for tongue in site.languages %}
                  <li>

                    <a {% if tongue==lang %}style="font-weight: bold;" {% endif %} href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">
                      <span class="flag-icon {{site.lang_info[tongue].flag}}"></span>
                      {{site.lang_info[tongue].name}}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            </ul>


          </nav>
        </div>

      </div>


    </div>
  </div>


  </div>

</header>
