{% assign i18n = site.data["home"] %}
{% assign i18n_dict = site.data["dictionary"] %}
{% assign data = site.data["pages-img"].home %}

<section class="bg-lighter" id="about-section">

    <div class="container">

        <div class="section-title vertical-line">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-uppercase mb-0"></p>
                    <h2 class="text-uppercase text-theme-colored title"><span class="text-black-333">{{i18n.about.title}}</span></h2>
                </div>
            </div>
        </div>
        <div class="section-content ">
            <div class="row">
                <div class="col-md-5  fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s;">
                    <h4 class="font-18 font-weight-500 text-gray-dimgray mt-20 mb-15">
                        {{i18n.about.text1}}
                    </h4>
                    <p>
                        {{i18n.about.text2}}
                    </p>
                </div>
                <div class="col-md-7 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-hover-border mt-sm-60">
                                <img class="img-fullwidth" src="/images/about/d1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-hover-border mt-sm-30">
                                <img class="img-fullwidth" src="/images/about/d2.jpg" alt="">
                            </div>
                            <div class="img-hover-border mt-15 mt-sm-30">
                                <img class="img-fullwidth" src="/images/about/d3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
