{% assign i18n = site.data["home"] %}
{% assign i18n_dict = site.data["dictionary"] %}
{% assign data = site.data["pages-img"].home %}

<section class="bg-silver-light">
    <div class="container pt-0 pb-0">
        <div class="section-content">
            <div class="row" data-margin-top="-70px" style="margin-top: -70px;">
                <div class="col-sm-12 col-md-4">
                    <div class="icon-box p-40 iconbox-theme-colored bg-white border-1px text-center">
                        <div class="icon" href="">
                            <i class="flaticon-worker font-48 font-weight-100"></i>
                        </div>
                        <h4 class="text-uppercase mt-0">{{i18n.features[0]}}</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="icon-box p-40 iconbox-theme-colored bg-white border-1px text-center">
                        <div class="icon" href="">
                            <i class="flaticon-screwdriver font-48 font-weight-100"></i>
                        </div>
                        <h4 class="text-uppercase mt-0">{{i18n.features[1]}}</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="icon-box p-40 iconbox-theme-colored bg-white border-1px text-center">
                        <div class="icon" href="">
                            <i class="flaticon-truck font-48 font-weight-100"></i>
                        </div>
                        <h4 class="text-uppercase mt-0">{{i18n.features[2]}}</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
