{% assign i18n = site.data["home"] %}
{% assign i18n_dict = site.data["dictionary"] %}
{% assign data = site.data["pages-img"].home %}

<section id="products-section">
    <div class="container">
        <div class="section-title maxwidth500 vertical-line">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-uppercase mb-0">{{i18n.help}}</p>
                    <h2 class="text-uppercase text-theme-colored title">{{i18n.our_products}}</span></h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                {% for item in i18n.categories %}
                <!--{% assign index = forloop.index | minus: 1 %}-->
                {% assign index = forloop.index %}
                {% assign item_data = data[index] %}
                <div class="col-sm-6 col-md-4 maxwidth500 mb-40 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" style="padding-right: 0px !important;">
                    <img class="img-fullwidth" src="{{item_data.img}}" alt="">
                    <h4 class="font-weight-700 mt-20">{{ item.title }}<br /></h4>
                    <p>{{ item.text }}</p>
                    <a href="{{item.href}}" class="btn btn-sm btn-theme-colored">{{i18n.more}}</a>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
</section>
