{% assign i18n = site.data["home"] %}
{% assign i18n_dict = site.data["dictionary"] %}
{% assign data = site.data["pages-img"].home %}

<section id="home">
    <div class="container-fluid p-0">

        <!-- Slider Revolution Start -->
        <div class="rev_slider_wrapper">
            <div class="rev_slider rev_slider_default" data-version="5.0">
                <ul>

                    <!-- SLIDE 1 -->
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-easein="default"
                        data-easeout="default" data-masterspeed="default" data-thumb="/images/bg/bg1.jpg"
                        data-rotate="0" data-fstransition="fade" data-saveperformance="off" data-title="Web Show"
                        data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/images/bg/bg2.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                             data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme sft text-black-222 text-uppercase font-raleway bg-theme-colored pl-20 pr-20"
                             id="rs-1-layer-1" data-x="['left']" data-hoffset="['30']" data-y="['middle']"
                             data-voffset="['-125']" data-fontsize="['24']" data-lineheight="['48']" data-width="none"
                             data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-speed="500" data-start="600" data-splitin="none" data-splitout="none"
                             data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:700; border-left: 8px solid #fff;">{{ i18n.caption[0] }}
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme sft text-uppercase text-white font-raleway font-weight-700 m-0"
                             id="rs-1-layer-2" data-x="['left']" data-hoffset="['30']" data-y="['middle']"
                             data-voffset="['-50']" data-fontsize="['72']" data-lineheight="['82']" data-width="none"
                             data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-speed="500" data-start="800" data-splitin="none" data-splitout="none"
                             data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:700;">
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme sft text-white" id="rs-1-layer-3" data-x="['left']"
                             data-hoffset="['30']" data-y="['middle']" data-voffset="['20']" data-fontsize="['16','18',24']"
                             data-lineheight="['28']" data-width="none" data-height="none" data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-speed="500" data-start="1200" data-splitin="none" data-splitout="none"
                             data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:400;">{{ i18n.caption[1] }}
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sft" id="rs-1-layer-4" data-x="['left']" data-hoffset="['30']"
                             data-y="['middle']" data-voffset="['90','100','110']" data-width="none" data-height="none"
                             data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-speed="500" data-start="1400" data-splitin="none" data-splitout="none"
                             data-responsive_offset="on" style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                        </div>
                    </li>

                    <!-- SLIDE 2 -->
                    <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-easein="default"
                        data-easeout="default" data-masterspeed="default" data-thumb="/images/bg/bg2.jpg"
                        data-rotate="0" data-fstransition="fade" data-saveperformance="off" data-title="Web Show"
                        data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/images/bg/bg1.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                             data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme sft text-black-222 text-uppercase font-raleway bg-theme-colored pl-20 pr-20"
                             id="rs-2-layer-1" data-x="['right']" data-hoffset="['30']" data-y="['middle']"
                             data-voffset="['-125']" data-fontsize="['24']" data-lineheight="['48']" data-width="none"
                             data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-speed="500" data-start="600" data-splitin="none" data-splitout="none"
                             data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:700; border-right: 8px solid #fff;">{{ i18n.caption[0] }}
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme sft text-uppercase text-white font-raleway font-weight-700 m-0"
                             id="rs-2-layer-2" data-x="['right']" data-hoffset="['30']" data-y="['middle']"
                             data-voffset="['-50']" data-fontsize="['72']" data-lineheight="['82']" data-width="none"
                             data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-speed="500" data-start="800" data-splitin="none" data-splitout="none"
                             data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:700;">
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme sft text-white text-right" id="rs-2-layer-3" data-x="['right']"
                             data-hoffset="['30']" data-y="['middle']" data-voffset="['20']" data-fontsize="['16','18',24']"
                             data-lineheight="['28']" data-width="none" data-height="none" data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-speed="500" data-start="1200" data-splitin="none" data-splitout="none"
                             data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:400;">{{ i18n.caption[1] }}
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sft" id="rs-2-layer-4" data-x="['right']" data-hoffset="['30']"
                             data-y="['middle']" data-voffset="['90','100','110']" data-width="none" data-height="none"
                             data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-speed="500" data-start="1400" data-splitin="none" data-splitout="none"
                             data-responsive_offset="on" style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                        </div>
                    </li>

                    <!-- SLIDE 3 -->
                    <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-easein="default"
                        data-easeout="default" data-masterspeed="default" data-thumb="/images/bg/bg3.jpg"
                        data-rotate="0" data-fstransition="fade" data-saveperformance="off" data-title="Web Show"
                        data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/images/bg/bg3.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                             data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme sft text-black-222 text-uppercase font-raleway bg-theme-colored pl-20 pr-20"
                             id="rs-3-layer-1" data-x="['left']" data-hoffset="['30']" data-y="['middle']"
                             data-voffset="['-125']" data-fontsize="['24']" data-lineheight="['48']" data-width="none"
                             data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-speed="500" data-start="600" data-splitin="none" data-splitout="none"
                             data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:700; border-left: 8px solid #fff;">
                            {{ i18n.caption[0] }}
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme sft text-uppercase text-white font-raleway font-weight-700 m-0"
                             id="rs-3-layer-2" data-x="['left']" data-hoffset="['30']" data-y="['middle']"
                             data-voffset="['-50']" data-fontsize="['72']" data-lineheight="['82']" data-width="none"
                             data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-speed="500" data-start="800" data-splitin="none" data-splitout="none"
                             data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:700;">
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme sft text-white" id="rs-3-layer-3" data-x="['left']"
                             data-hoffset="['30']" data-y="['middle']" data-voffset="['20']" data-fontsize="['16','18',24']"
                             data-lineheight="['28']" data-width="none" data-height="none" data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-speed="500" data-start="1200" data-splitin="none" data-splitout="none"
                             data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:400;">
                            {{ i18n.caption[1] }}
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sft" id="rs-3-layer-4" data-x="['left']" data-hoffset="['30']"
                             data-y="['middle']" data-voffset="['90','100','110']" data-width="none" data-height="none"
                             data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-speed="500" data-start="1400" data-splitin="none" data-splitout="none"
                             data-responsive_offset="on" style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                        </div>

                    </li>

                </ul>
            </div>
            <!-- end .rev_slider -->
        </div>
        <!-- end .rev_slider_wrapper -->
        <script>
            $(document).ready(function (e) {
                $(".rev_slider_default").revolution({
                    sliderType: "standard",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 5000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        },
                        arrows: {
                            style: "gyges",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 0,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 0,
                                v_offset: 0
                            }
                        },
                        bullets: {
                            enable: true,
                            hide_onmobile: true,
                            hide_under: 800,
                            style: "hebe",
                            hide_onleave: false,
                            direction: "horizontal",
                            h_align: "center",
                            v_align: "bottom",
                            h_offset: 0,
                            v_offset: 30,
                            space: 5,
                            tmp: '<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title"></span>'
                        }
                    },
                    responsiveLevels: [1240, 1024, 778],
                    visibilityLevels: [1240, 1024, 778],
                    gridwidth: [1170, 1024, 778, 480],
                    gridheight: [580, 768, 960, 720],
                    lazyType: "none",
                    parallax: {
                        origo: "slidercenter",
                        speed: 1000,
                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                        type: "scroll"
                    },
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "on",
                    stopAfterLoops: 0,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAutoWidth: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "0",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            });
        </script>
        <!-- Slider Revolution Ends -->
    </div>
</section>
