{% assign i18n = site.data["home"] %}
{% assign i18n_dict = site.data["dictionary"] %}
{% assign data = site.data["pages-img"].home %}
{% assign persons = i18n.engineers.persons %}
{% assign leader = i18n.engineers.leader %}

<section id="experts">
    <div class="container">
        <div class="section-title vertical-line">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-uppercase mb-0">(International Technology Key) Limited</p>
                    <h2 class="text-uppercase text-theme-colored title"> {{i18n.engineers.title}} <span
                            class="text-black-333">ITK</span></h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        {{i18n.engineers.text}}
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="team-members border-bottom-theme-color-2px text-center maxwidth400 mb-30">
                                        <div class="team-thumb">
                                            <img class="img-fullwidth" alt="" src="{{leader.img}}">
                                            <div class="team-overlay"></div>
                                        </div>
                                        <div class="team-details_ bg-silver-light pt-10 pb-10">
                                            <h4 class="text-uppercase m-5"><u>{{leader.name}}</u></h4>
                                            <h6 class="text-gray font-15 font-weight-400 mt-0">{{leader.position}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                        {% for person in persons %}
                        <div class="col-md-4">
                            <div class="team-members border-bottom-theme-color-2px text-center maxwidth400 mb-30">
                                <div class="team-thumb">
                                    <img class="img-fullwidth" alt="" src="{{person.img}}">
                                    <div class="team-overlay"></div>
                                </div>
                                <div class="team-details bg-silver-light pt-10 pb-10">
                                    <h4 class="text-uppercase m-5"><u>{{person.name}}</u></h4>
                                    <h6 class="text-gray font-15 font-weight-400 mt-0">{{person.position}}</h6>
                                    <ul class="styled-icons icon-theme-colored icon-dark icon-circled icon-sm">
                                            <li><a href="#" data-toggle="modal" data-target="#whatsappModal"><i class="fa fa-whatsapp text-white"></i></a></li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-wechat"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

