{% assign i18n = site.data["home"] %}
{% assign i18n_dict = site.data["dictionary"] %}
{% assign data = site.data["pages-img"].home %}

<section class="m-section  bg-lighter" id="network-section">
    <div class="container">

        <div class="section-title vertical-line">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-uppercase mb-0"></p>
                    <h2 class="text-uppercase text-theme-colored title">{{i18n.sn-title}}</h2>
                </div>
            </div>
        </div>

        <div class="section-content">
            <div class="row">

                <div class="col-md-8 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s;">
                    <div class="row">
                        <div class="col-md-4">

                            <ul>
                                {% for el in i18n.sn-countries %}
                                <li>{{el}}</li>
                                {% endfor %}
                            </ul>

                        </div>
                        <div class="col-md-8">
                            <img src="/images/spec/map.png" alt="Map" class="img-responsive">
                        </div>
                    </div>
                </div>

                <div class="col-md-4  fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s;">
                    <!-- <h3 class="line-bottom mt-0">Сеть продаж</h3> -->
                    <h4 class="font-18 font-weight-500 text-gray-dimgray mt-20 mb-15">{{i18n.sn-sale-text[0]}}</h4>
                    <p>{{i18n.sn-sale-text[1]}}</p>
                    <!--<p>{{i18n.about.text3}}</p>-->
                </div>

            </div>
        </div>
    </div>
</section>
