{% assign i18n = site.data["home"] %}
{% assign i18n_dict = site.data["dictionary"] %}
{% assign data = site.data["pages-img"].home %}
!!!{{site.data["active_lang"]}}!!!
<section class=" layer-overlay overlay-white-9 m-section" id="advantages-section">
    <div class="container pb-30">
        <div class="section-title vertical-line">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-uppercase mb-0"></p>
                    <h2 class="text-uppercase text-theme-colored title">{{i18n.advantage-title}}</span></h2>
                </div>
            </div>
        </div>
        <div class="section-content advantage-section">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box left media p-0 mb-40"> <i class="flaticon-power text-theme-colored media-left pull-left flip "></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">{{i18n.advantage[0]}}</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box left media p-0 mb-40"> <i class=" flaticon-banknote text-theme-colored media-left pull-left flip"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">{{i18n.advantage[1]}}</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box left media p-0 mb-40"> <i class="flaticon-worker text-theme-colored media-left pull-left flip"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">{{i18n.advantage[2]}}</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box left media p-0 mb-40"> <i class=" flaticon-tools-2 text-theme-colored media-left pull-left flip"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">{{i18n.advantage[3]}}</h5>
                            <p></p>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box left media p-0 mb-40"> <i class="flaticon-shop text-theme-colored media-left pull-left flip"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">{{i18n.advantage[4]}}</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box left media p-0 mb-40"> <i class=" flaticon-speedometer text-theme-colored media-left pull-left flip"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">{{i18n.advantage[5]}}</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
