{% assign i18n = site.data["home"] %}
{% assign i18n_dict = site.data["dictionary"] %}
{% assign data = site.data["pages-img"].home %}

<section id="industries-section">
    <div class="container pb-20">
        <div class="section-title vertical-line">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-uppercase mb-0"></p>
                    <h2 class="text-uppercase text-theme-colored title">{{i18n.industry-title}}</h2>
                </div>
            </div>
        </div>
        <div class="section-content text-center">
            <div class="row">
                <div class="col-md-12">
                    <div id="grid" class="gallery-isotope grid-3 gutter-20 clearfix">

                        <div class="gallery-item mechanical" style="position: absolute; left: 0px; top: 0px;">
                            <div class="service-block mb-30">
                                <img class="img-fullwidth" src="/images/spec/oil-gas.jpg" alt="">
                                <h4 class="font-weight-700 mt-20">{{i18n.industries[0]}}</h4>
                                <p></p>
                                <!-- <a href="index-mp-layout4.html#" class="btn btn-sm btn-theme-colored">Read more</a> -->
                            </div>
                        </div>
                        <!-- Portfolio Item End -->
                        <!-- Portfolio Item Start -->
                        <div class="gallery-item material" style="position: absolute; left: 705px; top: 0px;">
                            <div class="service-block mb-30">
                                <img class="img-fullwidth" src="/images/spec/energy.jpg" alt="">
                                <h4 class="font-weight-700 mt-20">{{i18n.industries[1]}}</h4>
                                <p></p>
                                <!-- <a href="index-mp-layout4.html#" class="btn btn-sm btn-theme-colored">Read more</a> -->
                            </div>
                        </div>
                        <!-- Portfolio Item End -->
                        <!-- Portfolio Item Start -->
                        <div class="gallery-item material" style="position: absolute; left: 705px; top: 0px;">
                            <div class="service-block mb-30">
                                <img class="img-fullwidth" src="/images/spec/metal.jpg" alt="">
                                <h4 class="font-weight-700 mt-20">{{i18n.industries[2]}}</h4>
                                <p></p>
                                <!-- <a href="index-mp-layout4.html#" class="btn btn-sm btn-theme-colored">Read more</a> -->
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item chemical" style="position: absolute; left: 235px; top: 0px;">
                            <div class="service-block mb-30">
                                <img class="img-fullwidth" src="/images/spec/nuclear.jpg" alt="">
                                <h4 class="font-weight-700 mt-20">{{i18n.industries[3]}}</h4>
                                <p></p>
                                <!-- <a href="index-mp-layout4.html#" class="btn btn-sm btn-theme-colored">Read more</a> -->
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item mechanical" style="position: absolute; left: 470px; top: 0px;">
                            <div class="service-block mb-30">
                                <img class="img-fullwidth" src="/images/spec/gas.jpg" alt="">
                                <h4 class="font-weight-700 mt-20">{{i18n.industries[4]}}</h4>
                                <p></p>
                                <!-- <a href="index-mp-layout4.html#" class="btn btn-sm btn-theme-colored">Read more</a> -->
                            </div>
                        </div>
                        <!-- Portfolio Item End -->



                        <!-- Portfolio Item Start -->
                        <div class="gallery-item chemical" style="position: absolute; left: 0px; top: 340px;">
                            <div class="service-block mb-30">
                                <img class="img-fullwidth" src="/images/spec/chemical.jpg" alt="">
                                <h4 class="font-weight-700 mt-20">{{i18n.industries[5]}}</h4>
                                <p></p>
                                <!-- <a href="index-mp-layout4.html#" class="btn btn-sm btn-theme-colored">Read more</a> -->
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
