---
layout: default
---
{% assign i18n_dict = site.data["dictionary"] %}
{% assign i18n = site.data[page.data_name] %}
{% assign data = site.data["pages-img"][page.data_name] %}

<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/images/bg/bg3.jpg" style="background-image: url(&quot;/images/bg/bg10.jpg&quot;); background-position: 50% 62px;">
    <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-theme-colored">{{i18n_dict.products}}</h3>
                    <ul class="breadcrumb white">
                        <li><a href="/">{{i18n_dict.home}}</a></li>
                        <li class="active">{{i18n.title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        {% for cat in i18n.categories %}

        <div class="terminator" id="nid-{{forloop.index}}"> </div>
        {% assign _index = forloop.index | minus: 1 %}
        {% assign cat_data = data[_index] %}
        {% assign length = cat_data | size %}
        <div class="row ">

        <div class="col-md-6 col-xs-12">
                <div class="project">
                    <div class="item-details  pt-10 pb-10">
                        <h5 class="sub-title font-14 font-weight-500 mb-5">{{cat.subtitle}}</h5>
                        <h4 class="title font-weight-700 text-uppercase mt-0">{{cat.title}}</h4>
                    </div>
                </div>
                <p>
                    {{cat.text}}
                </p>
            </div>

            {% assign mod = forloop.index | modulo: 2 %}
            {% assign id=forloop.index %}
            {% if mod == 0 %}
            <div class="col-md-6 col-xs-12  mb-100 pull-right text-center" >
                {% else %}
                <div class="col-md-6  col-xs-12 mb-100 pull-left text-center" >
                    {% endif %}

                    {% if length > 1 %}

                    <div class="carousel slide" data-ride="carousel" id="carousel-id{{id}}">
                        <div class="carousel-inner">

                            {% for img in cat_data %}
                            {% if forloop.index == 1 %}
                            <div class="item active ">
                                <img src="{{img}}" alt="..." class="d-block center">
                            </div>
                            {% else %}
                            <div class="item ">
                                <img src="{{img}}" alt="..." class="d-block center">
                            </div>
                            {% endif %}

                            {% endfor %}
                        </div>

                        <a class="left carousel-control" href="#carousel-id{{id}}" role="button"
                            data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-id{{id}}" role="button"
                            data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                    {% else %}
                    {% assign img = cat_data[0] %}
                        <img src="{{img}}" alt="..." class="d-block center">
                    {% endif %}


                </div>


                <div class="clearfix"></div>

            </div>

            {% endfor %}

        </div>
</section>

<section>
    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <div class="col-md-6">
                    <p>
                        {{i18n.text1}}
                    </p>
                </div>
                <div class="col-md-6">
                   <p> {{i18n.text2}}</p>
                </div>
            </div>
        </div>
    </div>
</section>